# Razorpay API Keys
# Replace these with your actual Razorpay API keys
RAZORPAY_KEY_ID=rzp_test_Nlvpu8xuMgM3WH
RAZORPAY_KEY_SECRET=CmCfURywpHGKqakddaufWhfu

# Other environment variables
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Nlvpu8xuMgM3WH

