 whenever you create a file, add a comment to each line of code explaining what it does
 whenever you make a change to a line of code, add a comment to explain the change
 whenever you make a change to a file, add a comment to explain the change
 whenever you make a change to a file, add a comment to explain the change